NODE_ENV=XXXX

BACKEND_PORT=XXXX

POSTGRES_USER=XXXX
POSTGRES_PASSWORD=XXXX
POSTGRES_DB=XXXX
POSTGRES_PORT=XXXX

DATABASE_HOST=XXXX
DATABASE_PORT=XXXX
DATABASE_USER=XXXX
DATABASE_PASSWORD=XXXX
DATABASE_NAME=XXXX